<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div><button class="connect-button">Connect To Chat Room</button></div>
    <div class="container">
      <ul class="messages">
        <li>tony says: test</li>
        <li>haha says: test2</li>
        <li class="right">you say: test3</li>
      </ul>
      <ul class="friends">
        <li>Tony</li>
        <li>Tony2</li>
        <li>Ton3</li>
        <li>Ton4</li>
      </ul>
    </div>
    <div class="footer">
      <label>
        <input class="send-input" />
      </label>
      <button class="send-button">send</button>
    </div>
    <scrpt src="/javascripts/chatroom.js"></scrpt>
    <script>
      var connectButton = document.querySelector('.connect-button');

      connectButton.addEventListener('click', function() {
        const name = window.prompt('Please input connect name');
        fetch('/register?name=' + name).then(function(res) {
          return res.json();
        }).then(function(data) {
          console.log(data);
        });
      });

      setInterval(() => {
        fetch('/friends').then(function(res) {
          return res.json();
        }).then(function(data) {
          console.log(data);
        });
      }, 1000)
    </script>
  </body>
</html>
