<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <button class="connect-button">Connect To Chat Room</button>
      <span style="display: inline-block;margin-left: 10px;">Welcome <span id="connector"></span></span>
    </div>
    <div class="container">
      <ul id="messages" class="messages"></ul>
      <ul id="friends" class="friends"></ul>
    </div>
    <div class="footer">
      <label>
        <input id="sendInput" class="send-input" />
      </label>
      <button id="sendBtn" class="send-button">send</button>
    </div>
    <script src="/javascripts/request.js"></script>
    <script src="/javascripts/notification.js"></script>
    <script src="/javascripts/dom.js"></script>
  </body>
</html>
